<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/infinityiterators/receipt/mapper/ReceiptMapper.java">
    <select id="selectAllStock" resultType="com/infinityiterators/receipt/model/dto/BookDTO.java">
        SELECT BOOK_ID,
        TITLE,
        AUTHOR,
        PUBLISHER,
        ISBN
<!--        NATIONCODE,-->
<!--        GENRECODE-->
        FROM tbl_book
        ORDER BY TITLE;
    </select>

    <insert id="addNewBook">
        INSERT INTO InRecord (
        BookID
        , InAmount
        )
        VALUES
        (
        #{ bookID }
        , #{ inAmount }
        )
    </insert>
</mapper>