<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.infinityiterators.bookwms.receipt.mapper.ReceiptMapper">
    <select id="selectAllBook" resultType="com.infinityiterators.bookwms.receipt.model.dto.BookDTO">
        SELECT BookID,
        Title,
        Author,
        Publisher,
        NationCode,
        GenreCode
        FROM Book
        ORDER BY BookID;
    </select>

    <select id = "selectInStock" resultType="com.infinityiterators.bookwms.receipt.model.dto.StockDTO">
        SELECT BookID,
        BookAmount
        FROM Stock;
    </select>

    <insert id="addNewBook">
        INSERT INTO Book (
            Title
        , Author
        , Publisher
        )
        VALUES
        (
            #{ title }
        , #{ author }
        , #{ publisher }
        )
    </insert>

    <update id="updateBook" parameterType="com.infinityiterators.bookwms.receipt.model.dto.StockDTO">
        UPDATE Stock
        SET BookAmount = BookAmount + #{inAmount}
        WHERE BookID = #{bookID}
    </update>

    <insert id="insertInRecord">
        INSERT INTO InRecord
        (
            InAmount,
            ReceiptDate,
            BookID
        )
        VALUES
        (
            #{ inAmount },
            SYSDATE(),
            #{ bookID }
        )
    </insert>

    <select id="selectInRecord" resultType="com.infinityiterators.bookwms.receipt.model.dto.InRecordDTO">
        SELECT
        ReceiptID,
        InAmount,
        ReceiptDate,
        BookID
        FROM InRecord;
    </select>

    <insert id="insertInStock">
        INSERT INTO Stock
        (
        BookID,
        BookAmount
        )
        VALUES
        ( (select MAX(BookID) FROM Book),
        0
        )
    </insert>

</mapper>